{% extends "base.html" %}
{% block content %}
<br/>
    {% for paciente in pacientes %}
        <div class="card" style="width: 18rem; margin: auto;">
            <img class="card-img-top" src="{{paciente.picture.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{paciente.name}} {{paciente.lastName}}</h5>
                <p class="card-text">Celular: {{paciente.cellphone}}<br/>Cedula: {{paciente.identifier}}</p>
            </div>
        </div>
    {% endfor %}
<br/>
{% endblock %}